.hide{
    display: none;
}

.alert{
    width: 580px;
    height: 380px;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid rgb(0, 0, 0) ;
}


li:not(.liStatistic) {
    padding: 2px 8px;
    max-width: 600px;
    margin-bottom: 40px;
}

.status{
    color: red;
}